# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/
.venv

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
*.pot

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.h5

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

best_model.h5